@using HomeDoctor.Models
@using Microsoft.AspNet.Identity
@model List<RecordViewModel>

@section css {
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
}
<script>
    $(function() {
        $("#accordion").accordion();
    });
</script>
@{
    ViewBag.Title = "Записи";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <p>Вы вошли как <strong>@User.Identity.GetUserName()</strong>.</p>
        @if (!Model.Any())
        {
            <p>У вас нет сообщений</p>
        }
        else
        {
            <p>История сообщений:</p>
            <div id="accordion">
                @foreach (RecordViewModel record in Model)
                {
                        if (record.Answered)
                        {
                            <h3 style="background: lightgray">@record.Date.ToShortDateString() @record.Title  (@record.Date.ToShortTimeString()) + ответ</h3>
                        }
                        else
                        {
                            <h3>@record.Date.ToShortDateString() @record.Title  (@record.Date.ToShortTimeString())</h3>
                        }              
                    <div>
                            <p style="padding-bottom: 10px;">@record.Message</p>
                    </div>
                }
            </div>
        }
        <hr />
        @using (Html.BeginForm("Records", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4><strong>Оставить заявку.</strong></h4>
            <p>Порядок заполнения формы</p>
            <ol>
            <li>Заголовок - укажите тему, например: консультация, перевод средств, вопрос;</li>
                <li>Сообщение - укажите содержание вашего вопроса, номер кошелька при переводе средств или
                 проблему обсуждения на будущей консультации.</li>
            </ol>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.Label("Заголовок", new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.DropDownList("Title", new SelectList(new string[] { "Консультация", "Вопрос", "Перевод средств"}), new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Сообщение", new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextArea("Message", "", new {@class = "form-control", style = "height: 200px;"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Отправить" />
                </div>
            </div>
        }
        



    </div>
</div>

